.spacer {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: #fff;
}
.mouseHover:hover {
  padding: 5px;
  background-color: #3f76b5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}
